PORT = 3000
FRONTEND_URL='https://travelersmirror.com'
# MONGODB_CONN="mongodb://127.0.0.1:27017/blog?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.4.2"

MONGODB_CONN = "mongodb+srv://travel:travel@cluster0.fan69tx.mongodb.net/travel?retryWrites=true&w=majority&appName=Cluster0"

JWT_SECRET="jhsdiusedbcnsodifchnsduksyehcri4ry"

NODE_ENV ="production"

ACCESS_TOKEN_SECRET = access_token_here
ACCESS_TOKEN_EXP = 1d
REFRESH_TOKEN_SECRET = refresh_token_here
REFRESH_TOKEN_EXP = 10d

CLOUDINARY_APP_NAME="dnbihlphy"
CLOUDINARY_API_KEY="753411952518524"
CLOUDINARY_API_SECRET="P3DktAZYzYyS0uNufG_vZzr_m_I"
